.text-updater-node {
    border: 1px solid #000;
    border-radius: 5px;
    background: white;
    width: 250px;
}

.custom-node__header {
    padding: 8px 10px;
    border-bottom: 1px solid #e2e8f0;
    font-size: 10px;
}

.custom-node__body {
    padding: 10px;
}